<html>
    <head>
        <meta charset="UTF-8" />
        <title>Code:Frame Receipts</title>
        <link rel="stylesheet" href="/style/style.css">
        <script type="application/javascript" src="/common/react/react.js"></script>
        <script type="application/javascript" src="/common/react/react-dom.js"></script>
        <script type="application/javascript" src="/common/redux/redux.js"></script>
        <script type="application/javascript" src="/common/redux/react-redux.js"></script>
        <script type="application/javascript" src="/common/Utils.js"></script>
        <script type="application/javascript" src="/components/CustomButton.js"></script>
        <script type="application/javascript" src="/components/ReceiptsTable.js"></script>
        <script type="application/javascript" src="/components/ReceiptDetails.js"></script>
        <script type="application/javascript" src="/components/ArticlesTable.js"></script>
        <script type="application/javascript" src="/components/PagingControl.js"></script>
        <script type="application/javascript" src="/components/ReceiptsPage.js"></script>
    </head>
    <body onload = "UTILS.init()">
    <div id="reactDiv"></div>
    </body>
</html>
